@import 'resetcss';
@import 'fonts.scss';

* {
    overflow: visible;
}

body {
    background: linear-gradient(180deg, #C31432 -44.8%, #720F34 19.24%, #460D35 78.94%, #12061B 151.67%);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.triangles_bas {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
}

.texte {
    z-index: 3;
    height: 300px;

    & .first_titre {
        font-family: 'didotdisplaydemibold';
        font-size: 5rem;
        margin-top: 4rem;
        margin-left: 11rem;
        letter-spacing: 0.3rem;
        color: rgba(255, 255, 255, 0.4);
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

ul {
    margin-top: 1.7rem;
    margin-left: 10rem;

    & li {
        display: inline;
        padding: 0.5rem;
    }

    & li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.7rem;
        font-family: 'robotothin';
        letter-spacing: 0.06rem;
    }

    & li.menu {
        padding: 20px 0;
        margin: 0 20px;
    }

    & li.menu:hover {
        border-top: 0.01rem solid #ffffff;
        border-bottom: 0.01rem solid #ffffff;
        padding: 0.4rem 0;
        transition: 0.3s ease; 
    }

    & li.ligne {
        color: #FFFFFF;
    }
}




.liste--projet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    height: 100%;
}

.liste--projetB {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    height: 100%;
}

.un--plein {
    fill: transparent;
    transition: 1s;
}
.deux--plein {
    fill: transparent;
    transition: 1s;
}
.trois--plein {
    fill: transparent;
    transition: 1s;
}
.quatre--plein {
    fill: transparent;
    transition: 1s;
}
.cinq--plein {
    fill: transparent;
    transition: 1s;
}

.is-hovered {
    transform: translateX(15px) translateY(-20px) scale(1.05);
    fill: #7A6A76;
    transition: fill 0.8s, transform 0.5s, scale 0.2s;
}



.unB {
    display: flex;
    flex-direction: column;
    
    & p {
        font-family: 'robotolight';
        color: #FFFFFF;
        font-size: 0.8rem;
        margin-top: 4rem;
    }
}
.deuxB {
    display: flex;
    flex-direction: column;
    
    & p {
        font-family: 'robotolight';
        color: #FFFFFF;
        font-size: 0.8rem;
        margin-top: 4rem;
    }
}
.troisB {
    display: flex;
    flex-direction: column;
    
    & p {
        font-family: 'robotolight';
        color: #FFFFFF;
        font-size: 0.8rem;
        margin-top: 4rem;
    }
}
.quatreB {
    display: flex;
    flex-direction: column;
    
    & p {
        font-family: 'robotolight';
        color: #FFFFFF;
        font-size: 0.8rem;
        margin-top: 4rem;
    }
}
.cinqB {
    display: flex;
    flex-direction: column;
    
    & p {
        font-family: 'robotolight';
        color: #FFFFFF;
        font-size: 0.8rem;
        margin-top: 4rem;
        opacity: 0;
        fill: transparent;
    }
}

.is-hover {
    opacity: 100%;
}